@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.eot');
    src: url('JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Regular.woff2') format('woff2'),
        url('JetBrainsMono-Regular.woff') format('woff'),
        url('JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-ExtraBold.eot');
    src: url('JetBrainsMono-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-ExtraBold.woff2') format('woff2'),
        url('JetBrainsMono-ExtraBold.woff') format('woff'),
        url('JetBrainsMono-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Medium.eot');
    src: url('JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Medium.woff2') format('woff2'),
        url('JetBrainsMono-Medium.woff') format('woff'),
        url('JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Bold.eot');
    src: url('JetBrainsMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Bold.woff2') format('woff2'),
        url('JetBrainsMono-Bold.woff') format('woff'),
        url('JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Bold_1.eot');
    src: url('JetBrainsMono-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Bold_1.woff2') format('woff2'),
        url('JetBrainsMono-Bold_1.woff') format('woff'),
        url('JetBrainsMono-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Medium_1.eot');
    src: url('JetBrainsMono-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Medium_1.woff2') format('woff2'),
        url('JetBrainsMono-Medium_1.woff') format('woff'),
        url('JetBrainsMono-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-ExtraBold_1.eot');
    src: url('JetBrainsMono-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-ExtraBold_1.woff2') format('woff2'),
        url('JetBrainsMono-ExtraBold_1.woff') format('woff'),
        url('JetBrainsMono-ExtraBold_1.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular_1.eot');
    src: url('JetBrainsMono-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Regular_1.woff2') format('woff2'),
        url('JetBrainsMono-Regular_1.woff') format('woff'),
        url('JetBrainsMono-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Medium_2.eot');
    src: url('JetBrainsMono-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Medium_2.woff2') format('woff2'),
        url('JetBrainsMono-Medium_2.woff') format('woff'),
        url('JetBrainsMono-Medium_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Bold_2.eot');
    src: url('JetBrainsMono-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Bold_2.woff2') format('woff2'),
        url('JetBrainsMono-Bold_2.woff') format('woff'),
        url('JetBrainsMono-Bold_2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular_2.eot');
    src: url('JetBrainsMono-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Regular_2.woff2') format('woff2'),
        url('JetBrainsMono-Regular_2.woff') format('woff'),
        url('JetBrainsMono-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-ExtraBold_2.eot');
    src: url('JetBrainsMono-ExtraBold_2.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-ExtraBold_2.woff2') format('woff2'),
        url('JetBrainsMono-ExtraBold_2.woff') format('woff'),
        url('JetBrainsMono-ExtraBold_2.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

