@import '../../styles/mixins';
@import '../../styles/variables';

.projects {
  padding: 10rem 0;

  .heading {
    text-align: center;
    margin-bottom: 4rem;
  }

  .container {
    @include marginate;
  }
}
