@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/typography';
@import '../../styles/animations';

.project {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10rem;
  }

  &:nth-child(odd) &__picture {
    order: 1;

    @include respond(phone-large) {
      order: 0;
    }
  }

  &:nth-child(odd) &__details {
    padding-left: 0;
    padding-right: 2rem;
  }

  @include respond(phone-large) {
    flex-direction: column;
  }

  &__title {
    line-height: 1em;
    margin: 1rem 0;
  }

  &__logo {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    opacity: 0.5;
    transition: all 0.3s;

    & > img {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
    }
  }

  &__picture:hover &__logo {
    opacity: 1;
  }

  &__picture {
    flex: 1 1 35%;
    max-height: 30rem;
    overflow-y: hidden;
    position: relative;
    border-radius: 0.5rem;
    transition: all 0.3s;

    @include respond(phone-large) {
      margin-bottom: 2rem;
      max-height: 20rem;
    }

    .caption {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($color-primary-dark, 0.15);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      opacity: 0;
      transition: all 0.3s;

      & > a {
        display: inline-flex;
        align-items: center;
        padding: 1.2rem 2rem;
        border-radius: 0.4rem;
        text-align: center;
        background-color: rgba($color-slate-dark-2, 0.8);
        text-decoration: none;
        color: $color-white;
        transition: all 0.3s;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:hover {
          background-color: $color-primary-dark;

          @include theme(dark) {
            background-color: $color-primary-main;
          }
        }

        .link {
          font-family: $font-default;
          margin-left: 1rem;
        }
      }
    }

    &:hover {
      // box-shadow: 0 0 .5rem $color-primary-dark;

      & > .caption {
        opacity: 1;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    position: relative;
    animation-name: projectOverview;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.69, 0.63, 0.73, 1.24);
    transition: all 0.4s;
  }

  &__picture:hover &__image {
    filter: blur(3px);
  }

  &__details {
    flex: 1 1 65%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

    @include respond(phone-large) {
      padding: 0;
    }
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__techStack {
    margin-top: auto;
    display: flex;
  }
}

.techItem {
  font-family: $font-mono;
  font-size: 1.2rem;
  color: $color-slate-light-4;

  @include theme(dark) {
    color: $color-slate-light-3;
  }

  &:not(:last-child) {
    margin-right: 3rem;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.8rem;
  margin-bottom: 2rem;

  @include respond(phone) {
    flex-direction: column;
  }

  .feature {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    list-style: none;
    transition: all 0.3s;
    cursor: default;

    &:hover {
      transform: translateX(0.5rem);
      color: $color-primary-main;

      @include theme(dark) {
        color: lighten($color-primary-light, 2%);
      }
    }

    &::before {
      content: '\e909';
      display: inline-block;
      margin-right: 0.5rem;
      font-family: 'Icomoon' !important;
      color: $color-primary-dark;

      @include theme(dark) {
        color: $color-primary-light;
      }
    }
  }
}
