@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/animations';

.project {
  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }

  &__type {
    text-transform: capitalize;
  }

  &__picture {
    flex: 1 1 35%;
    max-height: 30rem;
    overflow-y: hidden;

    @include respond(phone) {
      margin-bottom: 2rem;
      max-height: 20rem;
    }
  }

  &__image {
    display: block;
    width: 100%;
    animation-name: projectOverview;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.69, .63, .73, 1.24);
  }

  &__details {
    flex: 1 1 65%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

    @include respond(phone) {
      padding: 0;
    }
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__techStack {
    margin-top: auto;
    display: flex;
  }
}

.techItem {
  font-family: $font-mono;
  font-size: 1.2rem;
  color: $color-slate-light-4;

  @include theme(dark) {
    color: $color-slate-light-3;
  }

  &:not(:last-child) {
    margin-right: 3rem;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.8rem;
  margin-bottom: 1rem;

  @include respond(tab-port) {
    flex-direction: column;
  }

  .feature {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    list-style: none;
    transition: all .3s;
    cursor: default;

    &:hover {
      transform: translateX(.5rem);
      color: $color-primary-main;

      @include theme(dark) {
        color: lighten($color-primary-light, 2%);
      }
    }

    &::before {
      content: "";
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      margin-right: .5rem;
      background-image: url(./icon-right.svg);
      background-size: cover;

      @supports (mask-image: url(./icon-right.svg)) or (--webkit-mask-image: url(./icon-right.svg)) {
        background-color: $color-primary-main;
        mask-image: url(./icon-right.svg);
        mask-size: cover;
        background-image: none;

        @include theme(dark) {
          background-color: $color-primary-light;
        }
      }
    }
  }
}
