@import '../../styles/variables';
@import '../../styles/mixins';

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-family: $font-mono;
  font-size: 1.4rem;

  padding: .8rem 3.2rem;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: .4rem;
  box-shadow: 0 0 .3rem $color-primary-dark;
  color: $color-slate-dark-2;
  background-size: 220%;
  border: 2px solid $color-primary-dark;
  background-image:
    linear-gradient(120deg, transparent 0%, transparent 50%, $color-primary-dark 50%);
  cursor: pointer;

  transition: all .2s ease-in-out;

  @include theme(dark) {
    border-color: $color-primary-main;
    color: $color-slate-light-1;
    background-image:
      linear-gradient(120deg, transparent 0%, transparent 50%, $color-primary-main 50%);
  }

  &>span {
    margin-right: 1rem;
  }

  &:hover,
  &:active {
    background-position: 100%;
    color: $color-white;
    box-shadow: 0 0 1rem $color-primary-dark;
  }
}
