@import '../../styles/mixins';
@import '../../styles/variables';

.OtherProjects {
  @include sectionStyles(even);

  &__list {
    list-style: none;
    background-color: $color-white;
    border-radius: .3rem;
    box-shadow: 0 .3rem 1rem rgba($color-slate-dark-5, .2);
    overflow: hidden;

    @include theme(dark) {
      background-color: $color-slate-dark-5;
    }
  }
}
