// violetblue:
$color-primary-main: #60c;
$color-primary-light: #81f;
$color-primary-dark: #408;

// teal:
$color-secondary-main: #007363;
$color-secondary-light: #009581;
$color-secondary-dark: #005146;

// gray:
$color-gray-1: #f7f7f7;
$color-gray-2: #eee;
$color-gray-3: #d5d5d5;
$color-gray-4: #ccc;
$color-gray-5: #111;
$color-gray-6: #090909;

// white:
$color-white: #fff;

// black:
$color-black: #000;
