$font-family-default: 'Manrope',
sans-serif;
$font-family-secondary: 'catamaran',
sans-serif;

$font-size-default: 1.6rem;

$font-size-huge: 4.5rem;
$font-size-xl: 3.5rem;
$font-size-large: 3rem;
$font-size-medium: 2rem;
$font-size-small: 1.2rem;
$font-size-xs: .8rem;
