@import '../../styles/animations';
@import '../../styles/mixins';
@import '../../styles/variables';

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow-x: hidden;

  .container {
    @include marginate;
    position: relative;
  }

  .intro {
    animation-name: fadeAppear;
    animation-duration: 1s;
    animation-delay: 3.8s;
  }

  .hero__name {
    line-height: 1.2em;

    animation-name: fadeAppear;
    animation-duration: 1.3s;
    animation-delay: 3.8s;

    .emphasize {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%);
        width: 98%;
        height: .8rem;
        border-radius: 1rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        box-shadow: 0 0 1rem $color-primary-dark;
      }
    }
  }

  .info {
    color: $color-slate-dark-1;
    line-height: 1em;

    animation-name: fadeAppear;
    animation-duration: 1.8s;
    animation-delay: 3.8s;

    @include theme(dark) {
      color: $color-slate-light-2;
    }
  }

  .waterMark {
    position: absolute;
    font-family: $font-mono;
    opacity: .1;
    z-index: -10;
    bottom: 100%;
    left: 100%;
    font-size: 25rem;
    display: inline-block;
    transform: rotate(90deg) translate(100%, 100%);
  }

  .quickContact {
    @include marginate;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    font-family: $font-mono;
    font-size: 1.4rem;

    animation-name: fadeAppear;
    animation-duration: 2s;
    animation-delay: 3.8s;

    @include respond(phone) {
      font-size: 1.7rem;

      a {
        padding: 1rem 0;
      }
    }
  }
}
