@import './variables';

.logo {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-logo !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 5rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-mysql:before {
  content: "\e939";
  color: #00618a;
}

.logo-postgresql .path1:before {
  content: "\e93a";
  color: rgb(255, 255, 255);
}

.logo-postgresql .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(2, 119, 189);
}

.logo-postgresql .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(2, 119, 189);
}

.logo-postgresql .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(2, 119, 189);
}

.logo-postgresql .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(2, 119, 189);
}

.logo-postgresql .path6:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(2, 119, 189);
}

.logo-postgresql .path7:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(2, 119, 189);
}

.logo-postgresql .path8:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(2, 119, 189);
}

.logo-php:before {
  content: "\e92b";
  color: #6181b6;
}

.logo-sass:before {
  content: "\e92c";
  color: #cb6699;
}

.logo-firebase .path1:before {
  content: "\e92d";
  color: rgb(255, 160, 0);
}

.logo-firebase .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(245, 127, 23);
}

.logo-firebase .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 202, 40);
}

.logo-firebase .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 160, 0);
}

.logo-cpp .path1:before {
  content: "\e931";
  color: rgb(92, 141, 188);
}

.logo-cpp .path2:before {
  content: "\e932";
  margin-left: -0.888671875em;
  color: rgb(26, 70, 116);
}

.logo-cpp .path3:before {
  content: "\e933";
  margin-left: -0.888671875em;
  color: rgb(26, 70, 116);
}

.logo-cpp .path4:before {
  content: "\e934";
  margin-left: -0.888671875em;
  color: rgb(27, 89, 142);
}

.logo-cpp .path5:before {
  content: "\e935";
  margin-left: -0.888671875em;
  color: rgb(255, 255, 255);
}

.logo-cpp .path6:before {
  content: "\e936";
  margin-left: -0.888671875em;
  color: rgb(255, 255, 255);
}

.logo-c:before {
  content: "\e937";
  color: #03599c;
}

.logo-git:before {
  content: "\e938";
  color: #f34f29;
}

.logo-python .path1:before {
  content: "\e900";
  color: rgb(2, 119, 189);
}

.logo-python .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 193, 7);
}

.logo-css .path1:before {
  content: "\e902";
  color: rgb(33, 150, 243);
}

.logo-css .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}

.logo-express:before {
  content: "\e904";
}

.logo-figma .path1:before {
  content: "\e905";
  color: rgb(51, 51, 51);
}

.logo-figma .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(10, 207, 131);
}

.logo-figma .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(162, 89, 255);
}

.logo-figma .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(242, 78, 30);
}

.logo-figma .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 114, 98);
}

.logo-figma .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(26, 188, 254);
}

.logo-gradle:before {
  content: "\e90b";
}

.logo-html .path1:before {
  content: "\e90c";
  color: rgb(227, 79, 38);
}

.logo-html .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(239, 101, 42);
}

.logo-html .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}

.logo-html .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.logo-java .path1:before {
  content: "\e910";
  color: rgb(83, 130, 161);
}

.logo-java .path2:before {
  content: "\e911";
  margin-left: -0.740234375em;
  color: rgb(231, 111, 0);
}

.logo-java .path3:before {
  content: "\e912";
  margin-left: -0.740234375em;
  color: rgb(83, 130, 161);
}

.logo-java .path4:before {
  content: "\e913";
  margin-left: -0.740234375em;
  color: rgb(231, 111, 0);
}

.logo-java .path5:before {
  content: "\e914";
  margin-left: -0.740234375em;
  color: rgb(83, 130, 161);
}

.logo-javascript .path1:before {
  content: "\e915";
  color: rgb(240, 219, 79);
}

.logo-javascript .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(50, 51, 48);
}

.logo-mongodb .path1:before {
  content: "\e917";
  color: rgb(67, 153, 52);
}

.logo-mongodb .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(69, 165, 56);
}

.logo-mongodb .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(70, 160, 55);
}

.logo-mongodb .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(64, 148, 51);
}

.logo-mongodb .path5:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(79, 170, 65);
}

.logo-mongodb .path6:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(74, 167, 60);
}

.logo-mongodb .path7:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(87, 174, 71);
}

.logo-mongodb .path8:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(96, 178, 79);
}

.logo-mongodb .path9:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(169, 170, 136);
}

.logo-mongodb .path10:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(182, 181, 152);
}

.logo-mongodb .path11:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(194, 193, 167);
}

.logo-mongodb .path12:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(206, 205, 183);
}

.logo-mongodb .path13:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(219, 218, 199);
}

.logo-mongodb .path14:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(235, 233, 220);
}

.logo-mongodb .path15:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(206, 205, 183);
}

.logo-mongodb .path16:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(79, 170, 65);
}

.logo-nodejs:before {
  content: "\e927";
  color: #8cc84b;
}

.logo-react:before {
  content: "\e928";
  color: #61dafb;
}

.logo-typescript .path1:before {
  content: "\e929";
  color: rgb(49,
120,
198);
}

.logo-typescript .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
