@import './mixins';

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
  color: $color-slate-light-4;

  @include theme(dark) {
    color: $color-slate-light-3;
  }
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 3.8rem;
}

h5,
h6 {
  font-family: $font-mono;
  color: $color-primary-dark;

  @include theme(dark) {
    color: $color-primary-light;
  }
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.4rem;
}

p,
div,
body {
  font-size: 2.2rem;
}
