/* COLORS */

$color-primary-light: #9b4bfd;
$color-primary-main: #8B31FF;
$color-primary-dark: #7000FF;

$color-white: #f6f5f7;
$color-slate-light-1:#E8E8E8;
$color-slate-light-2:#C4C4C4;
$color-slate-light-3:#999999;

$color-slate-light-4: #242225;
$color-slate-light-5: #1e1b20;

$color-slate-dark-1: #1A171E;
$color-slate-dark-2: #120E16;
$color-black: #000;

$shadow-primary-all: box-shadow(0, 0, 1rem, $color-primary-main);


$font-default: 'Calibre',
sans-serif;
$font-mono: 'JetBrains Mono',
'Fira Code',
monospace;
$font-icon: 'Icomoon';
