/* COLORS */

$color-primary-light: #9b4bfd;
$color-primary-main: #8B31FF;
$color-primary-dark: #7000FF;

$color-white: #f6f5f7;
$color-slate-light-1:#E8E8E8;
$color-slate-light-2:#C4C4C4;
$color-slate-light-3: #bbb;
$color-slate-light-4: #888;

$color-slate-dark-1:#323133;
$color-slate-dark-2: #242225;
$color-slate-dark-3: #1e1b20;
$color-slate-dark-4: #1A171E;
$color-slate-dark-5: #120E16;
$color-black: #000;

$color-tomato: #cf0000;
$color-emerald: #00ac56;

/* SHADOWS */
$shadow-primary-all: box-shadow(0, 0, 1rem, $color-primary-main);
$shadow-subtle: 0 .3rem 1rem rgba($color-slate-dark-5, .2);
$shadow-subtle-small: 0 .2rem .5rem rgba($color-slate-dark-5, .2);

$radius-small: .3rem;
$margin-medium: 4rem;

$font-default: 'Calibre',
sans-serif;
$font-mono: 'JetBrains Mono',
'Fira Code',
monospace;
$font-icon: 'Icomoon';
$font-logo: 'Logo';
