@import '../fonts/Calibre/Calibre';
@import '../fonts/JetBrainsMono/JetBrainsMono';

@import './mixins';
@import './variables';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: overlay;
}

body {
  box-sizing: border-box;
  background-color: $color-white;
  color: $color-gray-8;
  overflow-x: hidden;

  @include theme(dark) {
    background-color: $color-gray-8;
    color: $color-gray-1;
  }
}

::selection {
  background-color: $color-primary-main;
  color: $color-white;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: rgba($color-slate-dark, .25);
}

::-webkit-scrollbar-thumb {
  background: rgba($color-slate-dark, .75);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color-primary-dark, .75);
}
