@import '../fonts/Calibre/Calibre';
@import '../fonts/JetBrainsMono/JetBrainsMono';

@import './mixins';
@import './variables';
@import './typography';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: $font-default;
  scroll-behavior: smooth;
  overflow: overlay;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $color-white;
  color: $color-slate-dark-1;

  @include theme(dark) {
    background-color: $color-slate-dark-2;
    color: $color-slate-light-1;
  }
}

::selection {
  background-color: $color-primary-main;
  color: $color-white;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: rgba($color-slate-dark-1, .4);
}

::-webkit-scrollbar-thumb {
  background: rgba($color-primary-dark, .75);
  opacity: .5;
  border-radius: .5rem;
  transition: all .2s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color-primary-dark, 1);
  opacity: 1;
}
