@import '../../styles/mixins';
@import '../../styles/variables';

.about {
  position: relative;
  padding: 10rem 0;
  background-color: $color-slate-light-1;

  @include theme(dark) {
    background-color: $color-slate-dark-1;
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(min-content, 65%) minmax(30%, 1fr);
    grid-template-rows: min-content;
    grid-gap: 2rem;
    margin-bottom: 4rem;
    justify-content: space-between;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content 100%;
    }

    .description {
      margin-bottom: 2rem;
    }

    .profile {
      position: relative;
      width: 100%;
      height: 100%;

      @include respond(phone) {
        max-height: 30rem;
      }
    }

    .image {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 95%;
      align-self: center;
      object-fit: contain;
      border-radius: .5rem;
      border: 2px solid $color-primary-dark;
      transition: all .2s;

      @include respond(tab-port) {
        min-height: 23rem;
        max-height: 50%;
      }

      @include respond(phone) {
        max-height: 100%;
        position: relative;
      }

      &:hover {
        box-shadow: 0 0 1rem $color-primary-dark;
      }
    }
  }

  .social {
    display: flex;
    align-items: center;
    margin-top: 5rem;

    &>a {
      font-size: 2.2rem;
      display: block;
      text-decoration: none;
      color: inherit;

      transition: all .2s;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        color: $color-primary-dark;
        filter: drop-shadow(0 0 1rem $color-primary-dark);

        @include theme(dark) {
          color: $color-primary-light;
        }
      }
    }
  }

  .container {
    max-width: 80%;
    margin: 0 auto;

    @include respond(tab-port) {
      max-width: 90%;
    }
  }
}
