@import '../../styles/mixins';
@import '../../styles/variables';

.about {
  background-color: $color-slate-dark-1;
  padding: 10rem 0;

  @include theme(light) {
    background-color: $color-slate-light-1;
  }

  .heading {
    margin-bottom: 1.2rem;
  }

  .subheading {
    margin-bottom: 1rem;
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(min-content, 65%) minmax(30%, 1fr);
    grid-template-rows: min-content;
    grid-gap: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content 100%;
    }

    .description {
      margin-bottom: 2rem;
    }

    .profile {
      position: relative;
      width: 100%;
      height: 100%;

      @include respond(phone) {
        max-height: 30rem;
      }
    }

    .image {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 95%;
      align-self: center;
      object-fit: contain;
      border-radius: .5rem;
      border: 2px solid $color-primary-dark;
      // filter: hue-rotate(250deg);
      transition: all .2s;

      @include respond(tab-port) {
        min-height: 23rem;
        max-height: 50%;
      }

      @include respond(phone) {
        max-height: 100%;
        position: relative;
      }

      &:hover {
        box-shadow: 0 0 1rem $color-primary-dark;
        // filter: hue-rotate(0deg);
      }
    }
  }

  .skills {
    .skill_rack {
      display: flex;
      flex-wrap: wrap;

      &>span {
        &:not(:last-child) {
          margin: 0 2rem 2rem 0;
        }
      }
    }
  }

  .container {
    max-width: 80%;
    margin: 0 auto;

    @include respond(tab-port) {
      max-width: 90%;
    }
  }
}
