@import '../../styles/mixins';
@import '../../styles/variables';

.contact {
  @include sectionStyles(even);

  .heading,
  .subheading {
    text-align: center;
  }

  .heading {
    margin-bottom: 4rem;
  }

  &__form {
    width: 50rem;
    margin: 0 auto;

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
