.u-text-center {
  text-align: center !important;
}

.u-margin-a-large {
  margin: 8rem !important;

  @include respond(tab-port) {
    margin: 5rem !important;
  }
}

.u-margin-a-medium {
  margin: 4rem !important;

  @include respond(tab-port) {
    margin: 3rem !important;
  }
}

.u-margin-a-small {
  margin: 2rem !important;
}

.u-margin-a-tiny {
  margin: 1rem !important;
}

// BOTTOM

.u-margin-b-large {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-b-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-b-small {
  margin-bottom: 2rem !important;
}

.u-margin-b-tiny {
  margin-bottom: 1rem !important;
}

// TOP

.u-margin-t-large {
  margin-top: 8rem !important;

  @include respond(tab-port) {
    margin-top: 5rem !important;
  }
}

.u-margin-t-medium {
  margin-top: 4rem !important;

  @include respond(tab-port) {
    margin-top: 3rem !important;
  }
}

.u-margin-t-small {
  margin-top: 2rem !important;
}

.u-margin-t-tiny {
  margin-top: 1rem !important;
}
