@font-face {
  font-family: 'Icomoon';
  src: url('icomoon.eot');
  src: url('icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon.woff') format('woff'),
    url('icomoon.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
