@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Medium.eot');
    src: url('Calibre-Medium.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Medium.woff2') format('woff2'),
        url('Calibre-Medium.woff') format('woff'),
        url('Calibre-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Semibold.eot');
    src: url('Calibre-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Semibold.woff2') format('woff2'),
        url('Calibre-Semibold.woff') format('woff'),
        url('Calibre-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Regular.eot');
    src: url('Calibre-Regular.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Regular.woff2') format('woff2'),
        url('Calibre-Regular.woff') format('woff'),
        url('Calibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Light.eot');
    src: url('Calibre-Light.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Light.woff2') format('woff2'),
        url('Calibre-Light.woff') format('woff'),
        url('Calibre-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Light_1.eot');
    src: url('Calibre-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Light_1.woff2') format('woff2'),
        url('Calibre-Light_1.woff') format('woff'),
        url('Calibre-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Medium_1.eot');
    src: url('Calibre-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Medium_1.woff2') format('woff2'),
        url('Calibre-Medium_1.woff') format('woff'),
        url('Calibre-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Regular_1.eot');
    src: url('Calibre-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Regular_1.woff2') format('woff2'),
        url('Calibre-Regular_1.woff') format('woff'),
        url('Calibre-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Semibold_1.eot');
    src: url('Calibre-Semibold_1.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Semibold_1.woff2') format('woff2'),
        url('Calibre-Semibold_1.woff') format('woff'),
        url('Calibre-Semibold_1.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Regular_2.eot');
    src: url('Calibre-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Regular_2.woff2') format('woff2'),
        url('Calibre-Regular_2.woff') format('woff'),
        url('Calibre-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Semibold_2.eot');
    src: url('Calibre-Semibold_2.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Semibold_2.woff2') format('woff2'),
        url('Calibre-Semibold_2.woff') format('woff'),
        url('Calibre-Semibold_2.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Medium_2.eot');
    src: url('Calibre-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Medium_2.woff2') format('woff2'),
        url('Calibre-Medium_2.woff') format('woff'),
        url('Calibre-Medium_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Light_2.eot');
    src: url('Calibre-Light_2.eot?#iefix') format('embedded-opentype'),
        url('Calibre-Light_2.woff2') format('woff2'),
        url('Calibre-Light_2.woff') format('woff'),
        url('Calibre-Light_2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

