@import '../../styles/mixins';
@import '../../styles/variables';

.donate {
  @include sectionStyles(odd);

  .ask {
    text-align: center;
    margin-bottom: 3rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
    grid-column-gap: 4rem;
    grid-auto-rows: min-content;

    @include respond(tab-port) {
      grid-template-columns: 100%;
      grid-template-rows: min-content;
    }
  }

  &__title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__wiki,
  &__blackLives,
  &__me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > a {
      margin-top: auto;
    }
  }

  &__me {
    grid-column-end: span 2;

    @include respond(tab-port) {
      grid-column-end: auto;
    }
  }
}
