@font-face {
  font-family: 'Logo';
  src: url('logo.eot');
  src: url('logo.eot?#iefix') format('embedded-opentype'),
    url('logo.woff') format('woff'),
    url('logo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
