@font-face {
  font-family: 'Logo';
  src: url('./logo.eot?88oir0');
  src: url('./logo.eot?88oir0#iefix') format('embedded-opentype'), url('./logo.ttf?88oir0') format('truetype'),
    url('./logo.woff?88oir0') format('woff'), url('./logo.svg?88oir0#logo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
