@import '../../styles/animations';
@import '../../styles/mixins';
@import '../../styles/variables';

.nav {
  background-color: $color-white;
  box-shadow: 0 1rem 1rem rgba($color-slate-dark-5, .08);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  animation-name: fadeInTop;
  animation-duration: 1s;
  transition: all .3s;

  @include theme(dark) {
    background-color: $color-slate-dark-5;
  }

  .container {
    @include marginate;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__brand {
    max-height: 3rem;
    margin-right: auto;
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  &__logo {
    height: 3rem;
    object-fit: contain;
    object-position: center;
  }

  &__check {
    display: none;
  }

  &__toggle {
    display: none;

    @include respond(phone-large) {
      border: none;
      width: 2rem;
      height: 2px;
      display: inline-block;
      margin-left: 1.5rem;
      background-image: linear-gradient(to bottom right, $color-primary-main, $color-primary-dark);
      position: relative;
      top: 1.1rem; //fixes offset
      transition: all .2s;
      cursor: pointer;

      &::before,
      &::after {
        height: 2px;
        background-image: linear-gradient(to bottom right, $color-primary-main, $color-primary-dark);
        display: inline-block;
        position: absolute;
        content: "";
        left: 0;
        cursor: pointer;

        transition: all .2s;
      }

      &::before {
        top: -.8rem;
        width: 3rem;
      }

      &::after {
        top: .8rem;
        width: 3rem;
      }
    }
  }

  &__check:checked+&__toggle {
    transform: scaleX(1.3);

    &::after {
      transform: rotate(45deg) scaleX(.5) translate(0, 1rem);
      top: -1px;
      left: -2px;
    }

    &::before {
      transform: rotate(-45deg) scaleX(.5) translate(0, -1rem);
      top: 1px;
      left: -2px;
    }
  }

  &__check:checked~&__list {

    @include respond(phone-large) {
      transform: translateX(0);
      box-shadow: -1rem .5rem 1rem rgba($color-slate-dark-5, .1);
    }
  }

  &__list {
    display: inline-flex;
    font-family: $font-mono;
    font-size: 1.4rem;
    list-style: none;
    box-shadow: none;

    &_container {
      @include respond(phone-large) {
        order: 1;
      }
    }

    @include respond(phone-large) {
      position: fixed;
      right: 0;
      top: calc(10vh - 1px);
      height: 100vh;
      padding: 4rem;
      width: 50%;
      display: flex;
      flex-direction: column;
      background-color: $color-white;
      overflow: hidden;
      transform-origin: right;
      transition: all .3s;
      transform: translateX(100%);

      @include theme(dark) {
        background-color: $color-slate-dark-4;
      }
    }
  }

  &__item {
    display: inline-block;
    margin: 0 2rem;
    position: relative;
    transition: text-shadow .2s;

    @include respond(phone-large) {
      display: block;
      margin: 2rem 0;
    }

    &::before {
      content: '';
      width: 170%;
      height: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      border: 2px solid $color-primary-dark;
      border-radius: 2px;
      transform: translate(-50%, -50%) scale(0);
      z-index: -10;
      transition: all .3s;
    }

    &:hover {
      &::before {
        transform: translate(-50%, -50%) scale(1);
      }

      @include theme(dark) {
        text-shadow: 0 0 3px $color-primary-dark;
      }
    }

    &:last-child {
      margin-right: 4rem;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
