@import '../../styles/mixins';
@import '../../styles/variables';

.statistics {
  @include sectionStyles(odd);

  .heading {
    margin-bottom: $margin-medium;
  }

  .contributions {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
  }

  .stats {
    display: grid;
    grid-gap: 2rem;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
}
